
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;  
  
}

html {
  font-size: 62.25%;    /* 10px */   
}

*{
    outline: 1px solid red;
}

body{

    margin: auto;

}
.container {
    width: 80%;
    margin: 10rem;
}

.text-center {
    text-align: center;
    margin-bottom: 4rem;
    font-size: 2.5rem;
}

form {
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    box-sizing: border-box;
    padding: 0.625rem;
    border: 0.063rem solid #ccc;
    border-radius: 0.313rem;
}

.form-group {
    margin-bottom: 1.25rem;
    width: 100%;
}

.input-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 1.25rem;
}

.btn {
    display: inline-block;
    padding: 0.625rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.313rem;
    cursor: pointer;
    width: 100%;
    border: 0.063rem solid #ccc;
}

.btn-primary {
    background-color: #1a7bc3;
}

.btn-success {
    background-color: #28a745;
}

input:focus {
    box-shadow: 0 0 0.313rem 0 #007bff;
    border: none;
    outline: none;
}

input::placeholder {
    color: #ccc;
}

.strong {
    font-weight: bold;
    font-size: 0.75rem;
    color: aliceblue;
    padding: 0.063rem;
    padding-left: 0.313rem;
    padding-right: 0.313rem;
    background-color: #1a7bc3;
    border-radius: 0.313rem;
}

a {
    text-decoration: none;
    color: #1a7bc3;
}

.text-agree {
    width: 100%;
    font-weight: bold;
}

.terms {
    margin-left: 1.25rem;
}